:root {
  margin: 0px;
  padding: 0px;
  display: flexbox;
  background-image: url(https://i.pinimg.com/736x/7b/5e/64/7b5e64e793d8d9a11642ed1046fe280b.jpg);
  align-items: center;
  text-align: center;
}

a {
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: medium;
  color: white;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Pacifico", cursive;
  color: black
}

h2 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Pacifico", cursive;
  color: black
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: green;
  cursor: pointer;
  transition: border-color 0.25s;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: black;
  font-size: large;
  width: 100%;
  padding-left: 0%;
  height: 40px;
  position: fixed;
  margin-top: -10px;
}

.imagen {
  width: 230px;
  height: 120px;
  border-radius: 20%;
}

p {
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: medium;
  color: black;
}

.nombre {
  display: flex;
  font-size: 20px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.tarjeta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: url(https://i.pinimg.com/236x/04/e9/ba/04e9bab10067c13043ab191059b3e957.jpg);
  background-size: small;
  border-radius: 15%;
  justify-items: center;
}

.card2 {
  margin-top: 10%;
  margin-bottom: 2%;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 70%;
  border: 2px solid;
  border-color: black;
  border-radius: 8%;
  padding: 5px;
  background-color: antiquewhite;

}

.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Logo {
  width: 105%;
  height: 350px;
  justify-content: center;
}

ul {
  margin-left: -30px;
}

.botones {
  display: flex;
  justify-content: space-around;
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: medium;
  color: white;
  font-size: 18px;
}

.descripcion {
  display: flex;
  justify-content: center;
  background-color: antiquewhite;
  border-radius: 5%;
}

.imgDescripcion {
  border-radius: 10%;

}

.contenidoDescripcion {
  display: flex;
  flex-direction: column;
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: medium;
  color: black;
  font-size: 18px;
  text-align: left;
  padding-left: 10px;
}

.active {
  color: red;
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
}

.inactive {
  font-weight: normal;
  text-decoration: none;
  color: green;
  margin-left: 10px;
}
.tarjetaCompra{
  display: flex;
  flex-direction: column;
  background-image: url(https://i.pinimg.com/236x/04/e9/ba/04e9bab10067c13043ab191059b3e957.jpg);
  background-size: small;
  border-radius: 15%;
  justify-items: center;
  align-items: center;
}
.card3{
  display: flex;
  margin-bottom: 2%;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  border: 2px solid;
  border-color: black;
  border-radius: 8%;
  padding: 5px;
  background-color: antiquewhite;
}
.tarjeta4{
  display: flex;
  align-items: center;
  gap: 5px;
}
.botonCompra{
  display: flex;
  justify-content: space-around;
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: medium;
  color: white;
  font-size: 18px;
  height: 35px;
  align-items: center;
}
.imagenCompra{
  width: 100px;
  height: 50px;
  border-radius: 20%;
}
.total{
  font-size: 3em;
  line-height: 1.1;
  font-family: "Pacifico", cursive;
  color: black;
  background-color: antiquewhite;
  border: solid 2px;
  border-color: green;
  border-radius: 5px;
}
.botonCompra2{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-style: medium;
  color: white;
  font-size: 18px;
  height: 35px;
  align-items: center;
}